.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.usernamePic {
  display: flex; }
  .usernamePic .thumbNail {
    border-radius: 100px;
    height: 48px; }
  .usernamePic .username {
    width: fit-content; }

.postContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 80%; }
